body{
	margin:0;
	min-width:20em;
	background-image: url(../img/pink_rice.png);
	font-family: Bodoni;
}

a{
	text-decoration: none;
	color: black;
}

h2 {font-size: 1.5em}

h3{font-size: 1.125em}

h2,h3 {
	font-weight: normal;
	color:#2F3332;
	margin:0;
}

body>header{
	padding: .6875em 0;
	height: 40px;
	background: rgba( 48, 155, 255, .1);

}

.wrap{
	margin: auto;
}

.clear{clear:both}


/*header*/
	.logo {
		display:block;
		float: left;
		width: 11em;
		height: 3em;
		text-decoration: none;
		padding-left: .5em;
	}
	.logo:before{
		content: '';
		display: block;
		float: left;
		width: 50px;
		height: 43px;
		margin-right: .25em;
		background: url(../img/sprite.png);
	}	

	.logo:hover, .logo:hover:before{opacity: .7}

	.site_title, .site_description{
		color: black;
	}


	.site_title {
		text-transform:uppercase;
		font-size: 16px;
		padding-left: .25em;
		font-weight: bold;
		position: relative;
		top: .25em;
	}

	.site_description{	
		font-size: 14px;
		font-weight:normal;
		margin-top: 4em;
	}

	.nav_btn{
		width: 3em;
		height: 3em;
		margin-left: 1em;
		box-shadow:0 0 1px #666;
		border-radius: .25em;
		float: right;
		position: relative;
		cursor:pointer;
	}

	.nav_btn:hover, .nav_btn:focus{opacity:.7;}

	.nav_btn:before{
		content: '';
		position:absolute;
		top:0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		width: 24px;
		height: 24px;
		background: url(../img/sprite.png) -56px -28px no-repeat;
	}

	.active{
		box-shadow:0 0 1px #666, inset 0 3px 3px #ccc;
		background: #f1f1f1;
	}

	nav{
		position: absolute;
		top:5em;
		right:0;
		left: 0;	
		text-transform: uppercase;
		font-size: .875em;
		display: none;
		z-index: 2000;
	}

	nav ul{
		list-style:none;
		margin:0;
		padding:0;
	}

	.nav_btn.active~nav{display:block}

	.first_level a{
		display: block;
		text-decoration:none;	
		padding:.75em 1em;
		background: #4591C4;
	}

	.second_level a{
		padding-left: 2em;
		text-transform:none;
	}

	nav a:focus, nav a:hover{
		color: #fff;
		background: blue;
	}
/*/header*/


img{
	width: 100%;
	height: auto;
}

article{
	float: left;
	width: 60%;
	box-sizing:border-box;
}

.fancybox-effects-d{
	background-color: #EFDFDF;
}

.fotos{
	width: 100%;
	background: #EFDFDF;
	margin: 1em;
	box-sizing:border-box;
	border: 1px dotted black;
	float: left;
}

aside{
	float: right;
	width: 39%;
	padding: 1em;
	box-sizing:border-box;
}

.foto {
	background:#ccc;
	width: 8em;
	height:5em;
	overflow: hidden;	
	position: absolute;
	left: calc(50% - 4em);
	top: -2.5em;
}

.foto img {
	position: absolute;
	top:0;
	right: 0;
	bottom:0;
	left: 0;
	margin:auto;
	max-width:8em;
}

.tabs{
	width: 100%;
}

/*video*/
	.video {
		position:relative;
		padding-bottom:56.25%;
		padding-top:30px;
		height:0;
		overflow:hidden;
		border:1px solid #ccc;
	}
	.video iframe{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
/*/video*/


footer{
	background: rgba( 48, 155, 255, .1);
	color:#aab2bd;
	font-size: 1em;
	text-align: left;
	padding: 1em 0;
}

footer p{padding: 0 1em}


@media screen and (min-width:480px) {	
	.fotos{
	width: 48%;
	margin: 2px;
	box-sizing:border-box;
	float: left;
}
}

@media screen and (min-width:768px) {
	.fotos{
	width: 32%;
	margin: 2px;
	box-sizing:border-box;
	float: left;}
	header{
		position: absolute;
		z-index:2;
		width: 100%;
		margin-top: 0;	
		border-bottom: 1px solid #e2e4e7;
		background: rgba( 48, 155, 255, .1);
	}	

	.nav_btn{display: none;}

	.site_title, .site_description {		
		color: #ccc;
	}

	nav{
		display: block;
		float: right;
		margin:0 2em;
		position: static;
		float: right;
		
	}

	.slider{
		height:23em;
		padding-top: 0;
	}

	.first_level>li{
		float:left;
	}

	.first_level a{
		padding:0 1em;
		line-height:4em;
		color:#ccc;
		background: rgba( 255, 255, 255, 0);
	}

	.first_level a:hover,
	.first_level a:focus{
		opacity: .5;
		background: rgba( 255, 255, 255, 0);
	}

	.second_level{
		display:none;
		position: absolute;
		top: 4em;
		width: 12em;
		border-radius: .25em;
		background: #5373D4;
		z-index:2;
	}

	.second_level li:first-child a{border-radius: .25em .25em 0 0}
	.second_level li:last-child a{border-bottom-left-radius:.25em;border-bottom-right-radius:.25em;}

	.second_level li:first-child a:before{
		content:'';
		width: 0;    	
		border:.5em solid transparent;
		border-bottom: .75em solid #5373D4;
		position: absolute;
		bottom: 100%;
	}

	.second_level li:first-child a:hover:before,
	.second_level li:first-child a:focus:before{border-bottom-color:#281AC1}

	.second_level a{
		line-height:3em;
		color:#fff;
	}

	.first_level li:hover .second_level,
	.first_level li:focus .second_level{display: block}

	.second_level a:hover,
	.second_level a:focus{
		color: #fff;
		background: #281AC1;
	}
	aside{
	border:1px dotted black;
	}
}


@media screen and (min-width:992px) {
	
	
	


	.foto {
		width:auto;
		height: 10.625em;
		border-radius: .25em .25em 0 0;
		position: relative;
		left: 0;
		top:0;
	}

	.foto img{max-width:19em;}

	.services{margin-top:0;}
}

@media screen and (min-width:1200px) {
	
	body>header .wrap{width:75em}

	.wrap{
		width: 1200px;		
	}
	
	article{
		float: left;
		width: 75%;
		height: auto;
		box-sizing:border-box;
	}

	.fotos{
		width: 23%;
		background: white;
		box-sizing:border-box;
		float: left;
		margin: 5px;
	}
	aside{
		float: right;
		width: 25%

	}
}